<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @voivodship.name %>
</p>

<p>
  <strong>Komitety:</strong>
	 <% @voivodship.committees.each do |committee| %>
	  <li><%= committee.name %> </li> 
	   <% end %>
	
</p>


<%= link_to 'Edit', edit_voivodship_path(@voivodship) %> |
<%= link_to 'Back', voivodships_path %>
