<p id="notice"><%= notice %></p>

<h3>
  Nazwa województwa:
  <%= @voivodship.name %>
</h3>
<br>
<p>
  <strong>Zbiorcze wyniki dla poszczególnych komitetów:</strong>
  <ol>
  <% @results.each do |name, result| %>
  <li>	<%= name %>: <%= result %> głosów</li>
  	<% end %>
  </ol>
</p>

<h3>Frekwencja</h3>
<% if @voivodship.districts.blank? %>
          Brak danych
 <% else %>
<%= @suma %>%
<% end %>
<br>
<br>

<%= link_to 'Powrót', voivodships_path %>
