<h1>Lista okręgów </h1>

<table class="table">
  <thead>
    <tr>
      <th>Nazwa okręgu</th>
      <th>Liczba uprawnionych do głosowania</th>
      <th>Ilość wydanych kart do głosowania </th>
      <th>Frekwencja</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @districts.each do |district| %>
      <tr>
        <td><b><%= district.name %></b></td>
        <td><%= district.voter %></td>
        <td><%= district.ballot %></td>
        <td><%= ((district.ballot.to_f/district.voter.to_f)*100).round(0) %>% </td>
        <td><%= link_to 'Rozwiń', district %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


