<p id="notice"><%= notice %></p>


<p><h3>
  Okręg: 
  <%= @district.name %>
</h3></p>

<p>
  <strong>Liczba głosów nieważnych z powodu zbyt dużej ilości znaków:</strong>
  <%= @district.too_many_votes %>
</p>

<p>
  <strong>Liczba głosów nieważnych z powodu braku znkaków:</strong>
  <%= @district.no_votes %>
</p>



 <% if current_user.central? %>

<p><h3>
  Okręg: 
  <%= @district.name %>
</h3></p>

<p>
  <strong>Liczba uprawnionych do głosowania:</strong>
  <%= @district.voter %>
</p>

<p>
  <strong>Liczba głosów nieważnych z powodu zbyt dużej ilości znaków:</strong>
  <%= @district.too_many_votes %>
</p>

<p>
  <strong>Liczba głosów nieważnych z powodu braku znkaków:</strong>
  <%= @district.no_votes %>
</p>

<p>
  <strong>Liczba wszytkich głósów nieważnych:</strong>
  <% unless @district.no_votes.nil? %> 
  <%= @district.no_votes + @district.too_many_votes %> 
  <% end %>
</p>

<p>
  <strong>Ilość wydanych kart:</strong>
  <%= @district.ballot %>
</p>



  <h3>Uwaga: <%= @warring %> !<h3>



<br>
<h3>Zbiorcze wyniki danego okręgu </h3>
  <ol>
  <% @district.votes.each do |vote| %>
    <li><strong><%= vote.committee.name %></strong>: <%= vote.amount %></li>
  <% end %>
  </ol>

<br>

<h3> Frekwencja </h3>
  <%= ((@district.ballot.to_f/@district.voter.to_f)*100).round(0) %>%

 <br>
 <br>
<%= link_to 'Powrót', districts_path %>

<% end %>