<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :committee_id, "Komitet" %><br>
    <%= f.select :committee_id , @committees %>
  </div>

   <div class="field">
    <%= f.hidden_field :user_id , :value => current_user.id %>
  </div>

   <div class="field">
    <%= f.hidden_field :district_id , :value => current_user.district_id %>
  </div>

   <div class="field">
    <%= f.label :amount, "Ilość głosów"  %><br>
    <%= f.number_field :amount %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
  <%= link_to 'Pokaż', @vote %> 
<% end %>
