<h1>Liczba głosów ważnych </h1>

<table>
  <thead>
    <tr>
      <th>Nazwa okręgu </th>
      <th>Ilość głosów ważnych dla okręgu</th>
      <th>Nazwa komitetu </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.district.name %></td>
        <td><%= vote.amount %></td>
        <td><%= vote.committee.name %></td>
        <td><%= link_to 'Show', vote %></td>
         <% if current_user.local? %>
        <td><%= link_to 'Edit', edit_vote_path(vote) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


