<nav>

      <ul class="nav navbar-nav navbar-right">

      <%= link_to "Home", root_path, class: 'navbar-brand' %>
        <% if current_user %>
          <% if current_user.local? %> 
            <li><%= link_to "Głosy nieważne", controller: "districts", action: "edit", id: current_user.district_id %></li> 
             <li><%= link_to "Głosy ważne", controller: "votes", action: "new" %></li>  
          <% end %> 

           <% if current_user.central? %> 
            <li><%= link_to "Zestawienie - okręg", districts_path %></li> 
              <li><%= link_to "Zestawienie - województwo", voivodships_path %></li> 
            <% end %>

          <!--<li><%= link_to "Edycja", edit_user_registration_path %></li>-->
          <!--<li><%= link_to 'Profil', current_user %> </li>-->
          <li><%= link_to 'Wyloguj', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Zaloguj', new_user_session_path %></li>
          <li><%= link_to 'Rejestracja', new_user_registration_path %></li>
        <% end %>
      </ul>
</nav>